{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - A propos{% endblock %}

{% block main %}
    <h1>A propos de BucketList</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi assumenda autem commodi corporis dignissimos fuga nam neque officiis perspiciatis! Animi at consequuntur deleniti earum fugiat incidunt inventore officia quaerat quisquam?</p>

{% endblock %}
