{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block main %}
    <h1>Bienvenue sur BucketList</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis cumque doloremque et inventore,
        magnam maxime odio officia officiis praesentium quae sed tempora voluptate!
        Adipisci architecto dolores esse illum laudantium placeat?</p>

{% endblock %}
