/***********************************************************
* Styles Globals
************************************************************/
body{
    margin:0;
    /*background-color: #5eb5e0;*/
    background: linear-gradient(#000000,#132135);
    background-attachment:fixed ;
    background-position: center center;
    background-size: cover ;
    color: #FFFFFF;
    font-family: 'Hachi Maru Pop', cursive;
}

.container{
    min-width: 360px;
    max-width: 1000px;
    margin: auto;
    padding: 10px 20px;
}

a {
    text-decoration: none;
    color:#D3D3D3;
}

a:hover{
    text-decoration: underline;
    color:darkorange;
    cursor:pointer;
}

img{
    max-width: 100%;
}

body > .container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/***********************************************************
* Header
************************************************************/
.site-title{
    display: flex;
    align-items: center;
    font-size: 48px ;
}

.site-title img{
    height: 48px;
    display: block;
    margin-right: 5px;
}

nav ul{
    margin: 5px 0;
    display: flex;
    list-style: none;
    padding-left: 0;
}

nav a{
    display: block;
    padding: 5px 8px;
    margin-right: 10px;
}
.active{
    color:red;
}
/***********************************************************
* Main
************************************************************/
main{
    padding: 30px 0;
    border-top: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
    min-height: 450px;
}

h1{
    margin:0;
    color: #D3D3D3;
}

/***********************************************************
* Footer
************************************************************/
footer{
    padding: 20px 0;
    text-align: center;
}


.alert-success{
    border: 1px solid green;
    width: 300px;
    height: 50px;
    background-color: greenyellow;
    color: black;
    border-radius: 10px;
    padding: 10px;
}

/***********************************************************
* Form
************************************************************/
label{
    display: block;
}