{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block main %}

    <h2>Ajouter un souhait </h2>

    {{form_start(wishForm)}}
    {{form_widget(wishForm)}}
    <button>Enregistrer</button>
    {{form_end(wishForm)}}

{% endblock %}

