{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} - Detail{% endblock %}

{% block main %}
<h1>Detail Wish - {{id}}</h1>
    <ul>
        <li>{{wish.title}}</li>
        <li>{{wish.description}}</li>
        <li>{{wish.author}}</li>
        <li>{{wish.isPublished}}</li>
        <li>{{wish.category.name}}</li>
        <li>{{wish.dateCreated|date("d-m-Y h:m:s")}}</li>
    </ul>
{% endblock %}
