{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Wishes{% endblock %}

{% block main %}
<h1>Liste des voeux</h1>
    <table>
        <thead>
        <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>Auteur</th>
            <th>Publié</th>
            <th>Date Création</th>
            <th>Catégorie</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            {%for wish in wishes%}
            <tr>
                <td><a href="{{path('wish_detail',{'id':wish.id})}}">{{wish.title}}</a></td>
                <td>{{wish.description}}</td>
                <td>{{wish.author}}</td>
                <td>{{wish.isPublished}}</td>
                <td>{{wish.dateCreated|date("d-m-Y H:i:s")}}</td>
                <td>{{wish.category.name}}</td>
                <td><a href="{{ path('wish_edit', {'id': wish.id}) }}"><button>Modifier</button></a></td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
{% endblock %}
