<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}BucketList{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">"

        <link rel="stylesheet" href="{{asset('css/style.css')}}">
        <link rel="icon" href="{{asset('img/favicon.png')}}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            <!-- JavaScript Bundle with Popper -->

            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <header>
                {% block header %}
                    <a class="site-title" href="{{path('home')}}" title="Go Back Home">
                        <img src="{{asset(('img/logo.svg'))}}" alt="BucketList"> BucketList
                    </a>
                {% endblock %}
            </header>
            <nav>
                {%set myRoute = app.request.attributes.get('_route') %}
                {#myRoute#}
                {% block nav %}
                    <ul>
                        <li>
                            <a class="{%if myRoute=='home' %} active{%endif%}" href="{{path('home')}}" title="Go Back Home">Home</a>
                        </li>
                        <li>
                            <a class="{%if myRoute=='test' %} active{%endif%}" href="{{path('test')}}" title="Test">Test</a>
                        </li>
                        <li>
                            <a class="{%if myRoute=='wish_list' %} active{%endif%}" href="{{path('wish_list')}}" title="Nos voeux">Nos voeux</a>
                        </li>
                        {% if app.user%}
                        <li>
                            <a class="{%if myRoute=='wish_add' %} active{%endif%}" href="{{path('wish_add')}}" title="Ajouter">Ajouter un voeu</a>
                        </li>
                        {%endif%}
                        <li>
                            <a class="{%if myRoute=='about_us' %} active{%endif%}" href="{{path('about_us')}}" title="A propos">A propos</a>
                        </li>
                        <li>
                            <a class="{%if myRoute=='legal_stuff' %} active{%endif%}" href="{{path('legal_stuff')}}" title="Mentions légales">Mentions légales</a>
                        </li>
                        {% if app.user%}
                            <li>
                                <a href="{{path('app_logout')}}" title="Se déconnecter">Se déconnecter</a>
                            </li>
                        {%else%}
                            <li>
                                <a href="{{path('app_login')}}" title="Se connecter">Se connecter</a>
                            </li>
                            <li>
                                <a href="{{path('app_register')}}" title="S'enregistrer">S'enregistrer</a>
                            </li>
                        {%endif%}

                    </ul>
                {% endblock %}
            </nav>
            <main>
                {% if app.user%}
                    <hr>
                    <h2>Bienvenue {{app.user.username}}</h2>
                    <hr>
                {% endif %}
                {%for label,messages in app.flashes%}
                    {%for message in messages%}
                        <div class="alert-{{label}}">
                            {{message}}
                        </div>
                    {%endfor%}
                {%endfor%}
                {% block main %}{% endblock %}
            </main>
            <footer>{% block footer %}&copy; {{"now"|date("Y") }} - BucketList by ENI ;){% endblock %}</footer>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        </div>
    </body>
</html>
